<%-include('__externallink.ejs')%>
<%-include('externalink.ejs')%>
<%-include('__externalscriptlink.ejs')%>
<%-include('header.ejs')%>
  
  <div class="px-4 px-lg-0 ">   
    <!-- For demo purpose -->
    <div class="pb-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
            <!-- Shopping cart table -->
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" class="border-0 bg-light">
                      <div class="p-2 px-3 text-uppercase">Product</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Price</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Comment</div>
                    </th>                  
                  </tr>
                </thead>
                <tbody>
                  <%orderData.map((cart,index)=>{%>
                    <tr>
                      <th scope="row" class="border-0">
                        <div class="p-2">                           
                          <img src="<%=cart.thumbnail%>" alt="" width="70" class="img-fluid rounded shadow-sm">
                          <div class="ml-3 d-inline-block align-middle">
                            <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle"></a>
                              <%=cart.title%>
                            </h5><span class="text-muted font-weight-normal font-italic d-block">
                              <%=cart.brand%>
                            </span>
                          </div>
                        </div>
                      </th>
                      <td class="border-0 align-middle">
                        <div class="col-md-1" id="price<%=index%>">
                          <%=cart.price%>
                        </div>
                      </td>
                      <td class="border-0 align-middle">
                        <div  id="">
                          <a  class="fas fa-comment" style="color: red; margin-left: 10px;" data-toggle="modal" data-target="#myModal" onclick="setdata('<%=cart.orderDetailsId%>','<%=cart.productId%>')"></a>
                        
                        </div>
                      </td>
                       </td>
                    </tr>                    
                    <%})%>
                </tbody>
              </table>             
            </div>
            <!-- End -->
          </div>
        </div>
      </div>
    </div>
   </div>
   <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="/review/save" method="post">
          <!-- Modal Header -->
          <input type="hidden" name="cartItems" id="cart" />
          <div class="modal-header">
            <h4 class="modal-title">Enter delivery details</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div style="border-radius: 30px;" class="modal-body">

            <div class="form-group">
       
            <div class="form-group">
              <label>Add Your Comment</label>
              <textarea style="border-radius: 20px;" class="form-control" name="comment"></textarea>
            </div>
             <input type="hidden" name="orderId" id="orderId">
             <input type="hidden" name="productId" id="productId">

          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
   <script>
    function setdata(orderId, productId) {
          document.getElementById("orderId").value = orderId;
          document.getElementById("productId").value = productId;
        }
   </script>
  <%-include('footer.ejs')%>
  